/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.servicesContainer {
    min-height: 100vh;
    padding: 50px 20px;
    text-align: center;
    background-image: url("../../assets/service.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(246, 11, 11); 
}

.servicesTitle {
    font-size: 32px;
    margin-bottom: 30px;
}

.serviceCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.serviceCard {
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #333;
}

.serviceCard:hover {
    transform: scale(1.05);
}

.serviceIcon {
    font-size: 40px;
    margin-bottom: 10px;
}

.serviceCard h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.serviceCard p {
    font-size: 16px;
}

.servic-1{
    width: 300px;
    padding: 20px;
}